.movieList {
  display: flex;
  flex-wrap: wrap;
  justify-content: center;
  width: 1200px;
  margin: 0 auto;
  padding-left: 0;
}

.movieItem {
  list-style: none;
  margin: 10px;
}

.movieItem:hover,
.movieItem:focus {
  cursor: pointer;
  box-shadow: 10px 10px 10px #7c7c7c;
  transition: box-shadow linear 150ms;
  scale: 1.1;
}