.nav {
  margin-top: 20px;
  margin-bottom: 20px;
}

.nav_item {
  margin: 20px;
  padding: 5px;
  color: black;
  font-size: 22px;
  font-weight: bold;
}

.activeNavLink {
  color: rgba(192, 20, 72, 0.829);
}
