.nav {
  padding-bottom: 10px;
  margin-top: 10px;
  border-bottom: 2px solid rgb(56, 54, 54);
}

.link {
  color: black;
  text-decoration: none;
  font-size: 32px;
}

.link:not(:last-child) {
  margin-right: 10px;
}

.activeLink {
  color: #2196f3;
}
